<div class="app-container">
  <div class="comment-app-container">
    <div class="nav-container">
      <h1>Comment App </h1>
      <button (click)="addCommentButtonClick()">Add Comment</button>
    </div>
    <input type="search" placeholder="Search...." [(ngModel)]="searchInput" (input)="changeSearchInput()">
    <app-tabs-category [selectedTab]="selectedTab" (setTabCategory)="setTab($event)"></app-tabs-category>
    <button style="width: 130px; margin-top: 20px;">Comment Count {{ commentsData.length}}</button>
    <ng-container *ngFor="let commentData of commentsData">
      <app-comment [commentData]="commentData"></app-comment>
    </ng-container>
    <div class="empty-container" *ngIf="!commentsData.length">
      <h1>Empty Data</h1>
    </div>
  </div>
</div>


<ng-container *ngIf="showAddComment">
  <app-add-update-comment (closeDialog)="closeDialog()"></app-add-update-comment>
</ng-container>